<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ford API</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="container">
      <img class="logo" src="img/ford.png" alt="ford logo" width="150px" />
      <div class="index">
        <ul>
          <li><a href="vehicles">Vehicles</a></li>
          <li><a href="vehiclesData">Vehicles Data</a></li>
          <li class="auth"><a href="users">Users</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
