<button class="navbar-toggler" type="button" (click)="toggleMenu()">
  <span
    *ngIf="!isMenuVisible; else closeIcon"
    class="navbar-toggler-icon"
  ></span>
  <ng-template #closeIcon>
    <span type="button" class="btn-close d-block"></span>
  </ng-template>
</button>

<div class="menu-background">
  <div
    class="menu-overlay"
    @overlayAppearDisappear
    *ngIf="isMenuVisible"
    (click)="toggleMenu()"
  ></div>

  <div
    @menuAppearDisappear
    *ngIf="isMenuVisible"
    class="menu py-5 d-flex flex-column gap-4 align-items-center"
  >
    <div class="mt-4 align-self-stretch">
      <div class="list-group">
        <a
          *ngFor="let path of paths"
          [routerLink]="['/', path]"
          [routerLinkActive]="['active']"
          class="list-group-item list-group-item-action py-3 fs-5 text-capitalize"
          >{{ path }}</a
        >
      </div>
    </div>
    <app-ford-logo [maxWidth]="125" class=""></app-ford-logo>
  </div>
</div>
