<div class="container p-0">
  <div
    class="charts d-flex flex-wrap justify-content-center justify-content-lg-between gap-2"
  >
    <div *ngFor="let chart of charts" class="chart">
      <div class="title d-lg-none">{{ chart.title }}</div>
      <div class="body">
        <span
          *ngIf="!haveChartsLoaded"
          class="spinner-border spinner-border-sm"
          role="status"
        ></span>
        <div #chartElements></div>
      </div>
      <div class="value text-primary">{{ chart.percent }}</div>
    </div>
  </div>
</div>
