*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-size: 30px;
  min-height: 100vh;
  color: #fff;
  background-color: #18181a;
  display: grid;
  place-content: center;
  font-family: monospace;
}

.logo {
  display: block;
  margin: 1em auto;
}

.index li {
  list-style: none;
  text-align: center;
  margin-bottom: 0.5em;
}

.index a {
  text-decoration: none;
  color: white;
}

.index a:hover {
  color: #aaa;
}

.index .auth::after {
  content: "(Login required)";
  position: absolute;
  top: 50%;
  transform: translateY(-37.5%);
  font-size: 0.5em;
  font-style: italic;
  margin-left: 0.5em;
  white-space: nowrap;
}
