.viewport-center {
  min-height: 90vh;
  position: relative;
  padding-bottom: 108px; // table height

  #grid-wrapper {
    grid-template-columns: repeat(4, 14rem);
    justify-content: space-between;
    align-items: center;
    #image {
      grid-column: 1 / 3;
    }
    #charts {
      grid-column: 3 / 5;
    }
  }
}

#table {
  position: relative;
  z-index: 10;
}
